<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fpg.Cim.Adapter.ModbusTCP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="ProjectID" value="CGUST"/>
    <add key="CompanyID" value="CGUST"/>
    <add key="EquipmentIDs" value=""/>
    <add key="IP" value="10.50.54.10"/>
    <add key="Port" value="502"/>
    <add key="ProgrammerMail" value="maple17@fpg.com.tw"/>
    <add key="ReTryTimes" value="1"/>
    <add key="CheckMeterParaTime" value="5"/>
    <add key="LocalModbusParaPath" value="LocalModbusParaPath"/>
    <add key="SplitSymbol" value="."/>
    <add key="ReceiveTimeout" value="30"/>
    <add key="EquipmentsFilePath" value="C:\TA-LR6641-Second.xml"/>
    <add key="PointsFilePath" value="C:\TA-LR6641-Points.xml"/>
    <add key="DBCallTimes" value="3"/>
    <add key="EquipmentStateTime" value="60"/> <!--偵測設備是否存(分), ex 50，表50分鐘執行一次-->
    <add key="SystemRunTimeRecord" value="120"/>
    <add key="EquipmentType" value="台科電"/> <!--設備型號：TCM3001 or TA-LR6641 or 長友城-->
    <add key="EquipmenStateCheck" value="600"/> <!--偵測設備有無回應的頻率，單位(秒)-->
    <add key="CSVFilePath" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="EEP_Client" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EEP_Client_ShingTech;User ID=sa;Password=STEEP;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="EEP_CGUST" connectionString="Data Source=10.50.54.10;Initial Catalog=CGUST;User ID=sa;Password=p@ssw0rd;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <applicationSettings>
        <Fpg.Cim.Adapter.ModbusTCP.Properties.Settings>
            <setting name="Fpg_Cim_Adapter_ModbusTCP_EEP_Client_WS_EEP_Client_WS"
                serializeAs="String">
                <value>http://localhost/EEP_Client_WS/EEP_Client_WS.asmx</value>
            </setting>
        </Fpg.Cim.Adapter.ModbusTCP.Properties.Settings>
    </applicationSettings>
</configuration>