<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target name="ModbusTCP" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/ModbusTCP.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/ModbusTCP_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>
    
    <target name="ACChange" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/ACChange.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/ACChange_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>

    <target name="Program" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/Program.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/Program_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>

    <target name="Service1" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/Service1.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/Service1_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>

    <target name="Equipment" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/Equipment.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/Equipment_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>

    <target name="AdapterLogs" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/AdapterLogs.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/AdapterLogs_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>

    <target name="EquipmentState" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/EquipmentState.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/EquipmentState_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>

    <target name="SocketLink" archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
            fileName="${basedir}/Logs/SocketLink.log" keepFileOpen="false"  archiveFileName="${basedir}/Logs/SocketLink_#{#}.log"
            layout="[${longdate}]${level:uppercase=true} | ${message} ${exception:format=ToString}"
            maxArchiveFiles="30" xsi:type="File"/>
  </targets>

  <rules>
    
    <!-- add your logging rules here -->
    <logger name="Fpg.Cim.Adapter.ModbusTCP.ModbusTCP.*" minlevel="Error" writeTo="ModbusTCP" />
    <logger name="Fpg.Cim.Adapter.ModbusTCP.ACChange.*" minlevel="Error" writeTo="ACChange" />
    <logger name="Fpg.Cim.Adapter.ModbusTCP.Program.*" minlevel="Trace" writeTo="Program" />
    <logger name="Fpg.Cim.Adapter.ModbusTCP.Service1.*" minlevel="Trace" writeTo="Service1" />
    <logger name="Fpg.Cim.Adapter.ModbusTCP.Equipment.*" minlevel="Trace" writeTo="Equipment" />
    <logger name="Fpg.Cim.Adapter.ModbusTCP.AdapterLogs.*" minlevel="Trace" writeTo="AdapterLogs" />
    <logger name="Fpg.Cim.Adapter.ModbusTCP.EquipmentState.*" minlevel="Trace" writeTo="EquipmentState" />
  </rules>
</nlog>